@model ETrade.UI.Models.ViewModel.UserModel

@{
    ViewData["Title"] = "Register";
}

<h3>Register</h3>

<br />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            @*Java scripte yazdığımız getElmenetById p id yakalar.*@
            <p id="err">@Model.Msg</p>
            <div class="mb-3 row">
                <label for="inputName" class="col-sm-2 col-form-label">Ad-Soyad</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNo" name="User.EntityName">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" name="User.Mail" value="email@example.com">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="User.Password">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputAv" class="col-sm-2 col-form-label">Avenue</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAvn" name="User.Avenue">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputSt" class="col-sm-2 col-form-label">Street</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputStr" name="User.Street">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNo" class="col-sm-2 col-form-label">No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNo" name="User.No">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">County</label>
                @*asp-for da seçilen county id yi user county ıd ye gönderir*@
                <select class="form-control" asp-for="@Model.User.CountyId">
                    @foreach (var item in Model.Counties)
                    {
                        @*value seçtiğimiz id yi tutar. *@
                        <option value="@item.Id">@item.Description</option>
                    }
                </select>
            </div>
            <br />
            <input type="submit" value="OK" class="btn btn-primary" />
        </form>
    </div>
</div>

<script>
    //getElementById
    document.getElementById("err").disabled(true);
</script>